<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

<h2>Hmmm... It seems that you have passed all the tests, Now try to write your own code!</h2>

<p>Further Reading:</p>

<ul>
    <li><a href="https://kyriosli.github.io/agentk">AgentK Project Home</a>
        <ul>
            <li><a href="https://github.com/kyriosli/agentk/wiki/turtorial">Tutorial</a></li>
            <li><a href="http://kyrios.li/agentk/doc/doc.html">Documentation</a></li>
        </ul>
    </li>

    <li><a href="https://github.com/kyriosli/agentk">View AgentK on GitHub</a></li>
</ul>

</body>
</html>